.wt {
  color: #fff;
}
.label1,
.label2 {
  color: #fff;
  display: none;
  animation-delay: 0.5s;
  animation-duration: 1s;
}
.container {
  padding-right: 0px;
}
.navbar {
  margin-bottom: 0px;
}
.container {
  width: 100%;
  max-width: 10000px;
}
.page-section {
  width: 100vw;
  padding-top: 5vh;
  padding-bottom: 20px;
}
.custom-offset {
  margin-left: 12.51vw;
}
.section1 {
  background: url('../images/Downtown-Blue-Original.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 105vh;
  margin-top: -50px;
  padding: 30px;
}
.section3 {
  background: url('../images/about bkg.jpg') no-repeat center fixed;
  background-size: cover;
}
.section4 {
  background: url('../images/involvement.jpg') repeat-y center fixed;
  background-size: cover;
}
.section3,
.section4,
.section5,
.section6 {
  /*temporary blue so headers are visible*/
  background-color: #87b8e0;
  height: 120vh;
}
h4 {
  text-align: center;
}
.home-title-container {
  margin-top: 20px;
  text-align: center;
  padding: 20px 0px;
  opacity: 0;
}
.home-title-container img {
  height: 15vh;
}
#scroll-button-row {
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation-delay: 2s;
}
#scrollButton {
  width: 70px;
  height: 70px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  cursor: pointer;
}
#scrollButton:hover {
  opacity: 0.3;
}
#ministriesCarousel {
  height: 60vh;
}
.carousel-inner .item {
  height: 60vh;
}
.carousel-indicators li {
  background-color: #e3e3e3;
}
